body {
    border: .1rem solid rgb(44, 42, 42);
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
    height: 100%;
    margin: 0; 
    padding: 0; 
    display: flex;
    flex-direction: column;
    font-family: 'Ephesis', cursive;
}

h1 {
    color: rgb(65, 65, 65);
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
    position: relative;
    top: 4.5rem;
    text-shadow: .1rem .3rem .3rem rgb(106, 59, 103);
}

.container{
    display: flex;
    flex-direction: column;
    /* position: relative;
    left: 2.5rem;
    height: 27rem;
    width: 50%;
    margin: auto; */
    padding: 1.5rem;
    border: .1rem solid rgb(44, 42, 42);
    align-items: center;
    justify-content: center;
    font-family: 'Ephesis', cursive;
}

.link1, .link2, .link3, .link4, .link5, .clickHere {
    width: 18vw;
    background-color: antiquewhite;
    border-radius: 15rem;
    padding: .5rem;
    margin-bottom: .3rem;
    font-family: 'Ephesis', cursive;
    font-size: 20px;
    font-weight: 700;
}

.moon {
    height: 5.5rem;
    width: 5.5rem;
    align-content: center;
    justify-content: center;
    position: relative;
    right: .005rem;
    top: 1rem;
}

